.navigation-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.navigation-box a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:black;
    transition: background-color 0.3s ease;
}

.navigation-box a:hover {
    background-color: #ddd;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 600px) {
    .map-responsive {
        padding-bottom: 75%; /* Proporción 4:3 (75%) para pantallas más pequeñas */
    }
}
