/* Estilo para las secciones */
section {
    background-color: slateblue /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 20px; /* Agrega espaciado interno */
    border-radius: 10px; /* Agrega bordes redondeados */
    margin-bottom: 20px; /* Agrega margen inferior */
}

/* Estilo para los campos del formulario */
label {
    color: white; /* Cambia el color del texto de las etiquetas */
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #f2f2f2; /* Cambia el color de fondo de los campos de entrada */
    color: black; /* Cambia el color del texto de los campos de entrada */
    padding: 10px; /* Ajusta el espaciado interno */
    border-radius: 5px; /* Agrega bordes redondeados */
    border:none; /* Elimina los bordes */
    margin-bottom: 10px; /* Agrega margen inferior */
}

input[type="submit"],
input[type="reset"] {
    background-color: #5250f0; /* Cambia el color de fondo de los botones */
    color: white; /* Cambia el color del texto de los botones */
    padding: 10px 20px; /* Ajusta el espaciado interno */
    border: none; /* Elimina los bordes */
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre los botones */
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #1ec6f0; /* Cambia el color de fondo al pasar el ratón sobre los botones */
}
