.container {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr;
    grid-template-areas:
        "header header"
        "left contenido"
        "footer footer";
    grid-gap: 20px;
    height: auto;
    border-radius: 10px;
}

/* Estilos para el encabezado */
.header {
    display: flex; /* Utiliza flexbox para el diseño */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    padding: 20px; /* Añade relleno para separar el contenido del borde */
}

/* Estilos para el logo */
.header img {
    max-width: 80px; /* Ajusta el ancho máximo del logo */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
    border-radius: 50%;
}

/* Estilos para el título */
.header h1 {
    margin: 0; /* Elimina el margen por defecto del título */
    flex-grow: 1; /* Permite que el título ocupe el espacio disponible */
    text-align: center; /* Centra el texto */
}


.left {
    grid-area: left;
    width: auto;
    text-align: center;
    /*border-right: 20px solid white; /* Agrega un borde derecho blanco */
    border-radius: 10px;
    padding: 10px;
}


.contenido {
    grid-area: contenido;
    width: auto;
    text-align: center;
    background-color:lavender; /* Fondo negro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
}


.item {
    background-color:lavender;
    padding: 10px;
    color: black;  
    border-radius: 10px;
}

.box {
    background-color: slateblue;
    padding: 10px;
    color: #fff;
    text-align: center;
}

h2 {
    text-align: center;
}
.footer {
    grid-area: footer;
    height: 100px;
    text-align: center;
    /*border-top: 20px solid white; /* Agrega un borde superior blanco */
    background-color: lavender; /* Fondo negro */
    border-radius: 10px; /* Bordes redondeados */
}


#idfooter {
    background-color: lavender;
    padding: 10px;
    text-align: center;
    color: black;
    height: auto;
}

#idfooter img {
    margin: 0 20px; /* Ajusta el margen horizontal entre cada imagen */
    width: 40px; /* Establece el ancho deseado para las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}


body{
    background-color: slateblue;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header.item img {
    position: absolute;
    top: 5;
    right: 10;
    max-width: 50px; /* Puedes ajustar este valor según el tamaño deseado */
    height: none;
    border-radius: 50%;
}

